.analyser-container {
  background-color: #f9f9f9;
  padding: 20px;

  h3 {
    color: #333;
  }

  .form-control {
    border-radius: 0;
  }
}

.analysis-result pre {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-x: auto;
}
